<style>

  body {
    font-family: arial;
  }
  
  #main{
    width:80%;
    margin-left:20px;
  }
  
  .post_title {
    margin-top:10px;  
    font-weight:bold;
    font-size:1.1em;
    padding-left:10px;
  }
  
  .post_entry {
    text-align:left;
    padding-left:10px;
  }

  .div_border {
    border: 1px solid #bbb;
    margin: 10px;
  }
  
  .sub {
    font-size: 0.9em;
    padding-left:10px;
  }
  
  .pagination{
    float:left;
  }
</style>

<div id="main">
  <div id="hd"><h1>Planet Rails @ Digital Codes</h1></div>
  <div id="bd">
    <% if !@feeds.blank? %>
      <% for feed_item in @feeds%>
        <div class="div_border">
          <div class="post_title">  
            <a href="<%= h feed_item.link %>"> <%= feed_item.title %></a>
          </div>
          <div class="sub">
            Posted <%= distance_of_time_in_words(Time.now, feed_item.published)%> ago at <a href="<%= feed_item.site_link%>"><%=feed_item.site_title %></a>
          </div>
          <div class="post_entry">
            <p><%= white_list(feed_item.content) %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      There are no feeds added yet.
      <a href="feed_urls">click here</a> to add.
    <% end %>
  </div>
  <div id="ft"><%= will_paginate @feeds, :class => "pagination" %> &nbsp;&nbsp;| this is Digital Codes</div>
</div>
