<h1>Listing feed_urls</h1>

<table>
  <tr>
    <th>Site url</th>
    <th>Feed url</th>
    <th>Title</th>
    <th>Star</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feed_urls.each do |feed_url| %>
  <tr>
    <td><%= feed_url.site_url %></td>
    <td><%= feed_url.feed_url %></td>
    <td><%= feed_url.title %></td>
    <td><%= feed_url.star %></td>
    <td><%= link_to 'Show', feed_url %></td>
    <td><%= link_to 'Edit', edit_feed_url_path(feed_url) %></td>
    <td><%= link_to 'Destroy', feed_url, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed url', new_feed_url_path %>
