<h1>New feed_url</h1>

<%= error_messages_for :feed_url %>

<% form_for(@feed_url) do |f| %>
  <p>
    <b>Feed url</b><br />
    <%= f.text_field :feed_url %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', feed_urls_path %>
