<p>
	<b>Site url:</b>
	<%=h @feed_url.site_url %>
</p>

<p>
	<b>Feed url:</b>
	<%=h @feed_url.feed_url %>
</p>

<p>
	<b>Title:</b>
	<%=h @feed_url.title %>
</p>

<p>
	<b>Star:</b>
	<%if  @feed_url.star %><%= image_tag("favorite.png")%><%end%>
</p>


<%= link_to 'Edit', edit_feed_url_path(@feed_url) %> |
<%= link_to 'Back', feed_urls_path %>
