<p id="notice"><%= notice %></p>

<p>
  <b>Site url:</b>
  <%= @feed_url.site_url %>
</p>

<p>
  <b>Feed url:</b>
  <%= @feed_url.feed_url %>
</p>

<p>
  <b>Title:</b>
  <%= @feed_url.title %>
</p>

<p>
  <b>Star:</b>
  <%= @feed_url.star %>
</p>


<%= link_to 'Edit', edit_feed_url_path(@feed_url) %> |
<%= link_to 'Back', feed_urls_path %>
